{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    | Aider
{% endblock %}

{% block page %}id="page4"{% endblock %}

{% block body %}
    <article id="content">
        <div class="wrapper">
            <div class="box1">
                <div class="line1">
                    <div class="line2 wrapper">
                        <section class="col1">
                            <h2><strong>F</strong>aire<span> un don</span></h2>

                            <div class="pad_bot1">
                                <figure><img src="images/page4_img1.jpg" alt=""></figure>
                            </div>
                            <div align="justify">C'est la façon la plus facile d'aider les autres, mais aussi la plus
                                importante, car de nos jours aucune action ne peut se faire sans financement.
                        </section>
                        <section class="col1 pad_left1">
                            <h2 class="color2"><strong>E</strong>tre<span> volontaire</span></h2>

                            <div class="pad_bot1">
                                <figure><img src="images/page4_img2.jpg" alt=""></figure>
                            </div>
                            <div align="justify">Vous pouvez également rejoindre notre équipe et nous aider en apportant
                                votre temps et vos compétences. Voyez pour cela le formulaire de contact.
                        </section>
                        <section class="col1 pad_left1">
                            <h2 class="color3"><strong>A</strong>lerter<span> les autres</span></h2>

                            <div class="pad_bot1">
                                <figure><img src="images/page4_img3.jpg" alt=""></figure>
                            </div>
                            <div align="justify">Si vous ne pouvez pas faire de dons ou être volontaire, vous pouvez
                                transmettre notre message, partager nos actions et faire connaître notre association.
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="pad_left2">
                <h4><span>Comment et pourquoi</span> aider les autres ?</h4>

                <p class="pad_bot2"><strong>Notre association ne vit que par les dons de ses généreux collaborateurs.
                        Faites un geste et aidez-nous à aider les autres.</strong></p>

                <p align="justify">Dans toute société, la solidarité est une valeur fondamentale et structurante.
                    N'oublions pas que l'homme ne trouve véritablement de paix et de bonheur que dans l'entraide, ce qui
                    le pousse à se hisser au-dessus des préoccupations d'ordre strictement matériel, et le rend ainsi
                    plus humain. Voici ce qu'établissent <a target="_blank"
                                                            href="http://www.un.org/fr/events/humansolidarityday/un_solidarity.shtml">les
                        Nations Unies</a> à propos de la solidarité:
                </p>

                <p class="quot">Elle est identifiée comme l'une des valeurs fondamentales pour les relations
                    internationales au 21ème siècle. Ceux qui souffrent le plus ou qui sont particulièrement défavorisés
                    méritent une aide de la part des plus privilégiés. Par conséquent, dans le contexte de la
                    mondialisation, et face au défi de l'accroissement des inégalités, le renforcement de la solidarité
                    internationale est indispensable. <img src="images/quot2.png" alt=""></p>
            </div>
        </div>
    </article>
{% endblock %}