{% extends 'AppBundle::base.html.twig' %}

{% block title %}
    | Contact
{% endblock %}

{% block page %}id="page5"{% endblock %}

{% block body %}
    <article id="content" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="wrapper">
            <div class="box1">
                <div class="line1 wrapper">
                    <section class="col1">
                        <h2><strong>N</strong>otre<span> Adresse</span></h2>
                        <strong class="address"> Rue:<br>
                            Ville:<br>
                            Pays:<br>
                            B.P.:<br>
                            Téléphone:<br>
                            E-Mail: </strong> 52, Boulevard Montaigne<br>
                        Sarcelles<br>
                        France<br>
                        95200<br>
                        +33 612090519<br>
                        <a href="#">esad.sarcelles@gmail.com</a></section>
                    <section class="col2 pad_left1">
                        <h2 class="color2"><strong>I</strong>nformations<span>  diverses</span></h2>

                        <p align="justify" class="pad_bot1"> Si vous avez des questions ou des remarques sur notre
                            association, notre mode de fonctionnement ou de financement, notre site web ou tout autre
                            sujet, nous vous prions de bien vouloir nous contacter par téléphone ou à travers le
                            formulaire de contact à remplir ici bas. </p>

                        <div align="justify">Nous serons heureux de répondre à vos questions et de discuter avec vous.
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="pad_left2 relative">
                <h4 class="color2"><span>Message</span> envoyé</h4>
            </div>
        </div>
    </article>
{% endblock %}
